/* index.html css */

/* container */
#container { width: 100%; height: 100%; }

.container_position { width: 100%; height: 100%; padding: 0px; margin: 0 auto; text-align: center; }
.container_position img { width: 100%; height: 100%; top: 0; left: 0; padding-top: 100px; position: absolute; }
.container_content_introduce { width: 100%; height: 500px; position: absolute; top: 0; left: 0; padding-top: 300px; text-align: center; }
.container_content_introduce h1 { color: #fff; font-size: 30px; }
.container_content_introduce h2 { color: #20cbd3; font-size: 35px; }
.container_content_introduce h3 { color: #EAEAEA; font-size: 15px; margin-top: 3%; }
.container_content_introduce h4 { color: #D5D5D5; font-size: 10px; margin-top: 7%; }
