html, body { height: 100%; margin: 0; padding: 0; display: block; font-family: "맑은 고딕"; }
body { width: 100%; min-width: 930px; margin: 0px; padding: 0px; letter-spacing: 0em; word-break: keep-all; font-weight: 400; font-family: "맑은 고딕"; }
div, ul, li, a, img, h1, h2, h3, h4 { margin: 0px; padding: 0px; }

/* total init */
#header_fixed, #header, #container, #footer { margin: 0px; padding: 0px; }
.wrap { min-height: 100%; position: relative; padding-bottom: 30px; }
#footer { position: absolute; bottom: 0; left: 0; right: 0; }
#header, #footer { background-color: #f4f5fa; }

input:focus { outline: none; }
textarea:focus { outline: none; }

/* header fixed */
.header_fixed_img { border: 0px solid #000;  position: fixed; float: left; margin-left: 60px; margin-top: 25px; z-index: 100; }
.header_fixed_img img { width: 48px; height: 48px; }
.header_fixed_user { font-size: 15px; color: #4c4c4c; height: 50px; position: fixed; float: left; margin-left: 85%; z-index: 100; margin-top: 40px; }

/* header */
#header { width: 100%; height: 100px; }
.header_position { width: 100%; height: 100px; margin: 0px; padding: 0px; }
.header_logo { width: 300px; height: 100px; position: absolute; }
.header_logo h2 { color: #20cbd3; font-size: 30px; margin-top: 27px; margin-left: 120px; }

/* container */
#container { width: 100%; height: 100%; }

/* footer */
#footer { width: 100%; height: 70px; position: fixed; bottom: 0; text-align: center; opacity: 0.6; z-index: 9999; }
.footer_fixed { width: 100%; height: 70px; margin: 0 auto; text-align: center; margin-top: 10px; }
.footer_fixed h4 { font-size: 13px; color: #333; }
