body { min-height: 100vh; 
    background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c)); 
    background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%); 
    background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%); 
    background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%); 
    background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%); 
    -ms-overflow-style: none; /* IE and Edge */  /* 스크롤 안 보이게 */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar { /* 스크롤 안 보이게 */
    display: none; /* Chrome, Safari, Opera*/
}

#joinBox { 
    max-width: 680px; 
    margin-top: 80px; 
    padding: 32px; 
    background: #fff; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15) 
}

.header__logo {
    display: flex;
    justify-content: center;
    display: flex;
    margin: 10px;
}
.header__logo h1 {
    padding-top: 1%;
    padding-left: 1%;
}