@charset "utf-8";

ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

#topMenuBox {
    font-weight: bold;
    padding-right: 10px;
    background-color: rgba(51,51,51);
}

.topMenu {
    display: inline-block;
}

#top_menu {
    float: right;
    line-height: 80px;
}

#topMenuItem li {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    width: 100px;
    height: 80px;
}

#topMenuItem li a{
    display: block;
    transition: all 0.3s;
    color: white;
    width: 150px;
    height: 80px;
}

#topMenuItem li a:hover{
    background-color: aqua;
    color: black;
}

.sub {
    display: none;
    position: absolute;
    background-color: #ccc;
    z-index: 1;
    opacity: 0.8;
    top: 80px;
    width: 150px;
}

#topMenuJoin {
    display: flex;
}

#topMenuJoin li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

#topMenuJoin li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#bottomMenuBox li {
    text-align: center;
    display: inline-block;
    padding: 5px;
}

#bottomMenuBox li a{
    text-decoration: none;
    font-weight: bold;
    color: #ccc;
}