
<<<<<<< HEAD
.table_title {

    width: 100%;
    height: 50px; 
    padding: 10px;
    /* margin-bottom: 40px; */
    margin-top:110px; 
    text-align: center; 
    }
.table_title h1 { color: rgba(51,51,51) }
.table_title h3 { color : #e2e2e2; font-size: 15px; font-weight: 400; }
=======
.table_title { 
    width: 100%; 
    height: 50px; 
    padding: 10px; 
    margin-top: 100px;
    margin-bottom: 40px; 
    text-align: center;
 }
>>>>>>> jay

.select_mode{
    position: static;
    margin-right: 600px;
    width: 80px;
    height: 30px;
    border: 1; 

}


#table_write_btn {
    position: static;
    width: 80px;
    height: 30px;
    color: whitesmoke; 
    background-color: rgba(51,51,51); 
    border: 0; 
    margin-left:600px;
    
    }

#table_write_btn.hover{
    background-color: gray;

    }
 


.sub_news, .sub_news th, .sub_news td { 
    border: 0; 
    }
.sub_news a { 
    color: rgba(51,51,51); 
    text-decoration: none; 
}

.sub_news a:hover { 
    color: gray; 
}
.sub_news { 
    width: 100%; 
    border-bottom: 1px solid rgba(51,51,51); 
    color: rgba(51,51,51); 
    font-size: 12px; 
    table-layout: fixed; 
}

.sub_news caption { 
    display: none; 
}

.sub_news td { 
    padding: 8px 0 9px;
     border-bottom: 1px solid #d2d2d2; 
     text-align: center; 
     line-height: 18px; 
    }
.sub_news .data, .sub_news .hit { 
    padding: 0; 
    color: rgba(51,51,51); ;
    font-size: 82px; 
    line-height: normal; 
}
.sub_news .title { 
    text-align: left;
     padding-left: 15px; 
     font-size:13px; 
    }

.select_mode{
    position: relative;
    left: 0px;
    top: 20px;

}

.search_table{
    position: center;
    display:flex;
    height: auto;
    justify-content: center;
    align-items: center;
    border: solid 0px;

}
.list{
    position: center;
    display:flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    width: 20%; 
    margin: auto;

}


.before { 
    float: left; 
}
.next { 
    float: right; 
   
}
.search_mode{
    position: center;
    padding:15px;
    border-width: 0px;
  
}
