
.select_mode{
    position : static;
    margin-right: 600px;
    width: 80px;
    height: 30px;
    padding: 3px;
    border: 1; 
    /* top: 20px;
    width: 80px;
    height: 30px;
    padding: 3px;
    border: 1; 
    margin: none; 
     */

}

#table_write_btn {
    position: static;
    /* top: 20px; */
    width: 80px;
    height: 30px;
    color: whitesmoke; 
    background-color: rgba(51,51,51); 
    border: 0; 
    /* margin: 8px;  */
    margin-left:600px;
    }

#table_write_btn.hover{
    background-color: gray;

    }
 


.sub_news, .sub_news th, .sub_news td { 
    border: 0; 
    }
.sub_news a { 
    color: rgba(51,51,51); 
    text-decoration: none; 
}

.sub_news a:hover { 
    color: gray; 
}
.sub_news { 
    width: 100%; 
    border-bottom: 1px solid rgba(51,51,51); 
    color: rgba(51,51,51); 
    font-size: 12px; 
    table-layout: fixed; 
}

.sub_news caption { 
    display: none; 
}

.sub_news td { 
    padding: 8px 0 9px;
     border-bottom: 1px solid #d2d2d2; 
     text-align: center; 
     line-height: 18px; 
    }
.sub_news .data, .sub_news .hit { 
    padding: 0; 
    color: rgba(51,51,51); ;
    font-size: 82px; 
    line-height: normal; 
}
.sub_news .title { 
    text-align: left;
     padding-left: 15px; 
     font-size:13px; 
    }

.select_mode{
    position: relative;
    left: 0px;
    top: 20px;

}

.search_table{
    position: center;
    display:flex;
    height: auto;
    justify-content: center;
    align-items: center;
    border: solid 0px;

}
.list{
    position: center;
    display:flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    width: 20%; 
    margin: auto;

}

/* .list { 
    width: 20%; 
    margin: auto; 
}  */
.before { 
    float: left; 
}
.next { 
    float: right;
}
.search_mode{
    border-width: 0px;
}
